<p>lista-pedidos-pendientes works!</p><p-table
#tbalumosListar
    [value]="pedidoss"
    [paginator]="true"
    [rows]="5"
    [tableStyle]="{ 'min-width': '50rem' }"
    [globalFilterFields]="['id', 'nombre', 'apellids', 'fecha','menu','cantidad','total']"
    [rowsPerPageOptions]="[5, 10, 20]"
    

    
>

    <ng-template pTemplate="header">
        <tr>
            <th  pSortableColumn="id" >Id <p-sortIcon field="id" /></th>
            <th  pSortableColumn="nombre" >nombre  <p-sortIcon field="nombre" /></th>
            <th  pSortableColumn="apellidos" >apellidos<p-sortIcon field="apellidos" /></th>
            <th  pSortableColumn="fecha" >fecha<p-sortIcon field="fecha" /></th>
            <th  pSortableColumn="menu" >menu<p-sortIcon field="menu" /></th>
            <th  pSortableColumn="cantidad" >cantidad<p-sortIcon field="cantidad" /></th>
            <th  pSortableColumn="total" >total<p-sortIcon field="total" /></th>
           
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-pedidos>
        <tr>
            <td>{{ pedidos.id}}</td>
            <td>{{ pedidos.nombre}}</td>
            <td>{{ pedidos.apellidos}}</td>
            <td>{{ pedidos.fecha}}</td>
            <td>{{ pedidos.menu}}</td>
            <td>{{ pedidos.cantidaad}}</td>
            <td>{{ pedidos.total}}</td>
          

            <td>
            <p-button [style]="ButtonStyle" icon="pi pi-eye" [rounded]="true" severity="info"/>
            <p-button [style]="ButtonStyle" icon="pi pi-pencil" [rounded]="true" severity="warning" />
            <p-button [style]="ButtonStyle"  icon="pi pi-trash" [rounded]="true" severity="danger" />
            </td>
        </tr>
    </ng-template>
</p-table>