<div class="card">
    <div class="carousel">
        <div class="-my-8">
            <p-galleria 
                [value]="images" 
                [numVisible]="5" 
                [circular]="true" 
                [showItemNavigators]="true" 
                [showThumbnails]="false" 
                [responsiveOptions]="responsiveOptions" 
                [containerStyle]="{ 'max-width': '650px '}">
                <ng-template pTemplate="item" let-item>
                    <img [src]="item.itemImageSrc" class="image" />
                </ng-template>
            </p-galleria>
        </div>
    </div>
    <div class="text">
        <h1>RestoSwift</h1>
    </div>
</div>

<div style="padding-top: 200px;">
    <hr>
</div>

