<div  class="positionFirex" >
    
    <img   (click)="op.toggle($event)"  class ="imgbot"  src="assets/img/chatbot/loli01.gif" >
    <p-overlayPanel #op>

       <div></div>
       <label for=""><strong> ¿que puedo ayudarte ?</strong></label>
       <ol>
        <li>Olvide mi contraseña</li>
        <li>como cambio mi usuario</li>
        <li>ablar cambiar de fondo</li>
        <li>ablar con un asesor</li>

        <input type="text" value="">
        <button> enviar</button>
        
       </ol>
       <div></div>
       
    </p-overlayPanel>
</div>
